$color-green-dark: #425844;
$color-green-light: #61a568;
$color-blue-dark: #101d2c;
$color-gray-dark: #aaaaaa;
$color-gray-light: #f5f5f5;

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Montserrat, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: $color-gray-light;
  background-color: $color-gray-light;
}

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns:
    [sidebar-start]
    8rem
    [sidebar-end
    full-start]
    minmax(6rem, 1fr)
    [center-start]
    repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end]
    minmax(6rem, 1fr)
    [full-end];
}
